/* Override core.css */
@media screen and (min-width: 100px) {
	hr {
		margin-top: calc((30 / 18) * 1em);
		margin-bottom: calc((29 / 18) * 1em); /* -1px for border-bottom */
	}
}

/* Adjust border color to imitate sub-pixel lines */
@media screen and (min-width: 150px) {
	hr {
		border-bottom-color: #888;
	}
}

/* Intended border color from 200px */
@media screen and (min-width: 200px) {
	hr {
		border-bottom-color: #1a1a1a;
	}
}
